:root {
    --primary: #8DB58F; 
    --secondary: #30343F; 
    --gray: #f5f5f5;
}

* {
    box-sizing: border-box;
  }

html {
    height: 100%;
    font-family: sans-serif; 
}

nav {
    padding-bottom: 10%;
    padding-top: 5%;
}

.nav-logo {
    float: left; 
}

.nav-links {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 16px; 
    float: right;
    margin-left: 48px;
    letter-spacing: 2px;
    color: var(--secondary);
    text-decoration: none;
}

.nav-links:hover {
    padding-bottom: 15px;
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
    text-decoration: none;
}

h1 {
    font-family: 'Lora'; 
    font-weight: 500;
    color: var(--secondary);
}

.font-green {
    color: var(--primary); 
}

.font-white {
    color: white;
}

.font-bold {
    font-weight: 600; 
}

h2 {
    font-family: 'Lora';
    font-weight: 700;
    color: var(--secondary);
}

h3 {
    font-family: 'Nunito';
    font-weight: 100;
}

h4 {
    font-family: 'Lora';
    font-weight: 600; 
    color: var(--secondary);
}

img {
    border-radius: 8px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding-right: 15px;
  }

.column-project-text {
    float: left;
  width: 25%;
  padding-right: 48px;
}

.row:after {
    content: "";
  display: table;
  clear: both;
}

a {
    color: var(--primary);
    text-decoration: underline;
    font-family: 'Nunito';
    font-size: 22px;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: 'Nunito';
    font-weight: 300;
    color: var(--secondary);
    
}

footer {
    background-color: var(--secondary);
    padding-top: 84px;
    padding-bottom: 64px;
    width: 100%;
    outline: 15px solid var(--secondary);
}

.flex-item {
    flex-grow: 1; 
    padding-left: 10%;
}

.fixed-no-padding {
    width: 50%;
}

.container-intro {
    display: flex;
    width: 100%;
}

.img-zoom img{
    transition: transform .5s ease;
}

.project-cards:hover img {
    transform: scale(1.1)
}

.container:hover img{
    transform: scale(1.1)
}

  .tag {
      background-color: var(--gray);
      padding-left: 12px; 
      padding-right: 12px;
      border-radius: 8px;
      display: inline-block;
      color: var(--secondary);
      margin-right: 10px;
      line-height: 12px;
      margin-bottom: 15px;
  }
  
.next-project-card {
    position: relative;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    border: none;
    background-color: var(--secondary);
    border-radius: 3px;
    font-family: "Nunito";
    font-size: 16px;
    color: white;
    font-weight: 600;
}


button:hover {
    background-color: #595D65;
    cursor: pointer;
}

.list-card {
    background-color: var(--gray);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    float: left;
    border-radius: 3px;
}

li {
    font-family: 'Nunito';
    font-size: 20px; 
    font-weight: 200;
    color: var(--secondary);
    line-height: 35px;
}


#back2Top {
    padding: 15px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 30px;
    text-decoration: none;
}
#back2Top:hover {
    transform: scale(1.1,1.1);
} 

.icon {
    width: 10%;
    margin-top: 20px;
}

.thisis {
    display: inline-block;
    vertical-align: middle;
    
}
.slidem {
    overflow: hidden;
    text-align: left;
    min-width: 90px;
    font-family: 'Lora'; 
font-size: 48px; 
font-weight: 100;
color: var(--secondary);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .margin {
        margin-left: 4%;
        margin-right: 4%;
    }
    h1 {
        font-size: 28px;
        margin-bottom: 0;
    }
    p {
        font-size: 14px; 
        line-height: 20px;   
    }
    h2 {
        font-size: 18px; 
    }
    h3 {
        font-size: 10px;
    }
    h4 {
        font-size: 24px;
    }
    .thisis {
        height: 188px;
    }
    
    .fixed-intro {
        width: 80%;
    }
    .flex-item-intro {
        flex-grow: 1; 
        padding-left: 10%;
        padding-top: 40px;
    }
    .container {
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
        overflow: hidden;
        height: 70%;
        background-color: red;
    }
    .img-zoom {
        overflow: hidden;
        height: 650px;
    }
    .project-card-img {
        height: 50%;
        float: right;
    }
    .fixed {
        width: 60%;
        padding-top: 5%;
    }
    .container-project {
        padding-bottom: 15%;
    }
    .list-card {
        float: none;
    }
    .next-project-card-text {
        bottom: 5%;
        left: 5%;
        position: absolute;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
    .margin {
        margin-left: 6%;
        margin-right: 6%;
    }
    p {
        font-size: 20px; 
        line-height: 28px;   
    }
    h1 {
        font-size: 40px;
        margin-bottom: 0;
    }
    h2 {
        font-size: 22px; 
    }
    h3 {
        font-size: 14px;
    }
    h4 {
        font-size: 36px;
    }
    .thisis {
        height: 180px;
    }
    .fixed {
        width: 60%;
        padding-top: 10%;
    }
    .fixed-intro {
        width: 80%;
    }

    .flex-item-intro {
        flex-grow: 1; 
        padding-left: 10%;
        padding-top: 40px;
    }
    .container {
        display: flex;
        margin-bottom: 15%;
        margin-top: 15%;
        overflow: hidden;
        height: 70%;
    }
    .img-zoom {
        overflow: hidden;
        height: 650px;
    }
    .project-card-img {
        width: 90%;
        float: right;
    }
    .container-project {
        padding-bottom: 10%;
    }
    .list-card {
        float: none;
    }
    .next-project-card-text {
        bottom: 8%;
        left: 8%;
        position: absolute;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .margin {
        margin-left: 14%;
        margin-right: 14%;
    }

    .container-project {
        display: flex;
        overflow: hidden;
        padding-bottom: 10%;
    }

    .fixed-project {
        min-width: 30%;
        max-width: 31%;
        padding-right: 5%;
        position: relative;
        top: -32px;
    }
    .flex-item-project {
        flex-grow: 1; 
        padding-left: 10%;
    }

    .next-project-card-text {
        bottom: 8%;
        left: 5%;
        position: absolute;
    }
}

